extends layout

block content  
  div.content
    p.title HIGH SCORES FOR AWESOME_GAME_TITLE_HERE
    table
      tr
        td RANK
        td NAME
        td SCORE        
      each item in scores
        tr
          td #{item.rank}        
          td #{item.name.substr(0,3)}
          td #{item.score}
